--- drivers/platform/x86/Kconfig
+++ drivers/platform/x86/Kconfig
@@ -901,15 +901,6 @@ config SURFACE_PRO3_BUTTON
 	help
 	  This driver handles the power/home/volume buttons on the Microsoft Surface Pro 3/4 tablet.
 
-config SURFACE_GPE
-	tristate "Surface GPE/Lid Driver"
-	depends on ACPI
-	help
-	  This driver marks the GPEs related to the ACPI lid device found on
-	  Microsoft Surface devices as wakeup sources and prepares them
-	  accordingly. It is required on those devices to allow wake-ups from
-	  suspend by opening the lid.
-
 config MSI_LAPTOP
 	tristate "MSI Laptop Extras"
 	depends on ACPI
